<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
<script src="https://unpkg.com/sql-formatter@2.3.3/dist/sql-formatter.min.js"></script>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<script>
var code = document.querySelector('#sql_code');

var format = window.sqlFormatter.format;
code.innerText = format(code.innerHTML);

    </script>
  </head>
  <body>
  <h1>{{title}}</h1>
    <div id="main">
      {{{yield}}}
    </div>
    
  </body>
</html>