<ul>
  <li>
    <a href="/">Values select</a>
  </li>
  <li>
    <a href="/play/complex">Complex</a>
  </li>
  <li>
    <a href="/play/aggregation">Aggregation</a>
  </li>
  <li>
    <a href="/play/join">Join</a>
  </li>
  <li>
    <a href="/docs">Docs</a>
  </li>
</ul>
<a _target="blank" href="https://stackoverflow.com/questions/60530599/how-to-express-sql-queries-in-yaml-format"><small>Why?.</small></a>
