{{> partial}}
<div class="block" style="margin-left: 10%; font-size: 15px;">
<h2>Yaml</h2>
<pre contenteditable class="language-yaml" data-linenumber="0" style="padding: 5px;">
    {{yaml_content}}
</pre>
</div>
<div class="block2" style="margin-right: 10%; font-size: 15px;">
<h2>SQL</h2>
<code class="language-sql line-numbers" style="padding: 5px;" id="sql_code">
{{content}}
</code>
</div>

