{{> partial}}
<div class="row">
  <div class="column" style="background-color:#aaa;font-size: 18px;">
    <h2>YAML</h2>
    <pre contenteditable class="language-yaml" data-linenumber="0">
    {{yaml_content}}
</pre>
  </div>
  <div class="column" style="background-color:#bbb;font-size: 18px;">
    <h2>SQL</h2>
    <code class="language-sql line-numbers" id="sql_code">
{{content}}
</code>
  </div>
</div>
<script>
var code = document.querySelector('#sql_code');

var format = window.sqlFormatter.format;
code.innerText = format(code.innerHTML);

    </script>

