<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{title}}
    </title>
    	<link href="https://unpkg.com/prismjs@v1.x/themes/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="https://unpkg.com/sql-formatter@2.3.3/dist/sql-formatter.min.js"></script>
<script src="https://unpkg.com/prismjs@v1.x/components/prism-core.min.js"></script>
<script src="https://unpkg.com/prismjs@v1.x/components/prism-sql.min.js"></script>
	<script src="https://unpkg.com/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

  </head>
  <body>
  <h1>{{title}}</h1>
    <div id="main" class="container">
      {{{yield}}}
    </div>
    <script>
    
var code = document.querySelector('#sql_code');
if (code) {
var format = window.sqlFormatter.format;
code.innerText = format(code.innerHTML)
    .replace(/&gt;/g, '>')
    .replace(/&lt;/g, '<')    
    
}


    //.replace(/ :: text//g, '::text');

    </script>
  </body>
</html>