<ul>
<li>
    <a href="/">Simple</a>
  </li>
  <li>
    <a href="/play/values_select">Values select</a>
  </li>
  <li>
    <a href="/play/values_join">Values join</a>
  </li>
  <li>
    <a href="/play/cte">CTE</a>
  </li>
  <li>
    <a href="/play/complex">Complex</a>
  </li>
  <li>
    <a href="/play/complicated">Complicated</a>
  </li>
  <li>
    <a href="/play/aggregation">Aggregation</a>
  </li>
  <li>
    <a href="/play/join">Join</a>
  </li>
  <li>
    <a href="/play/generate_series">Generate Series</a>
  </li>
  <li>
    <a href="/docs">Docs</a>
  </li>
</ul>
<a target="_blank" href="https://stackoverflow.com/questions/60530599/how-to-express-sql-queries-in-yaml-format"><small>Why?.</small></a>
