{{> partial}}
<div class="row">
  <div class="column" style="font-size: 18px;">
    <h2>YAML</h2>
    <pre contenteditable class="language-yaml" data-linenumber="0">
    <code>
{{yaml_content}}
    </code>
</pre>
  </div>
  <div  style="font-size: 18px;">
    <h2>SQL</h2>
    <pre>
    <figure>
<code class="language-sql line-numbers" id="sql_code">
{{{content}}}
</code>
</figure>
</pre>
  </div>
</div>


